<!DOCTYPE html>
<html>

<head>
  <title>Postal Rates</title>
</head>

<body>
  <h1>Postal Rate</h1>
  <p>Your price for a <%= method %> with a weight of <%= weight %> ounces is: <b>$<%= result.toFixed(2) %></b></p>
</body>

</html>